.landing__container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.landing__image {
    width: 400px;
    align-self: center;
}

.landing__logo {
    width: 60vw;
    height: 100vh;
    background-image: url('./background.webp');
    background-repeat: repeat;
    background-size: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.landing__form {
    width: 40vw;
    height: 100vh;
    background-color: white;
}