nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageBtn {
  height: 35px;
  width: 35px;
  margin: 6px;
  border-radius: 15px;
  background-color: #f8f0ea;
  box-shadow: 3px 3px 2px rgba(201, 177, 99, 0.566);
  border: 1px solid black;
  cursor: pointer;
}

.pageBtn:hover {
  transition: .25s;
  transform: translateY(-5px);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.pagination li {
  list-style-type: none;
}