nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageBtn, .pageButton {
  height: 35px;
  width: 35px;
  margin: 6px;
  border-radius: 15px;
  background-color: #f8f0ea;
  box-shadow: 3px 3px 2px rgba(201, 177, 99, 0.566);
  border: 1px solid black;
  cursor: pointer;
}

.pageBtn:hover, .pageButton:hover {
  transition: .25s;
  transform: translateY(-5px);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.pagination li {
  list-style-type: none;
}

.disabled {
  display: none;
}

.active {
  transform: translateY(-5px);
}

@media only screen and (max-width: 899px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pageBtn, .pageButton {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .pagination {
    overflow: hidden;
    flex-flow: row;
  }

  .pageButton {
    display: none;
  }
}